* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #20202d;
    color: white;
    font-family: "Roboto", sans-serif;
}

.hero {
    padding-top: 50px;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    padding-bottom: 155px;
}

.hero-header {
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-links a {
    margin-left: 20px;
}

.container {
    max-width: 945px;
    margin: auto;
}

.section {
    padding-top: 64px;
    padding-bottom: 92px;
}

.hero-subtitle {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    color: #ffbb01;
}

.hero-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    margin-top: 14px;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin-bottom: 38px;
}

.button {
    background: linear-gradient(100deg, #fdde76 0%, #ffbb01 100%);
    box-shadow: 0px 4px 0px #b68500;
    border: none;
    border-radius: 5px 5px 10px 10px;
    padding: 24px 42px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-avatar {
    background-color: #fff;
    width: 389px;
    height: 389px;
    border-radius: 50%;

    background-image: url("../images/avatar.jpg");
    background-repeat: no-repeat;
    background-position: center top -40px;
    border: 13px solid #eee;
}

.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: auto;
}

.features {
    background-color: #000000;
}

.features-block {
    margin-top: 84px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    flex-basis: 30%;
    margin-bottom: 63px;
}

.features-image {
    margin-bottom: 22px;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 16px;
}

.features-text {
    font-size: 16px;
    line-height: 28px;
}

/* contacts */
.contacts-block {
    display: flex;
}

.contacts-form {
    background-color: #fff;
    box-shadow: -5px 5px 0px #ffc410;
    border-radius: 5px;
    max-width: 380px;
    padding: 40px 35px 49px 35px;
}

.contacts-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 0px 13px 29px 13px;
}

.input {
    border: none;
    background-color: #f8f8f8;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.5);
    border-radius: 5px;
    padding: 18px 20px;
    padding-left: 50px;
    width: 100%;
    font-size: 14px;
    line-height: 28px;
}

.input-user {
    margin-bottom: 17px;
    background-image: url("../images/user-icon.svg");
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.input-phone {
    margin-bottom: 26px;
    background-image: url("../images/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.form-button {
    width: 100%;
}